flask
flask_sqlalchemy
sqlalchemy
flask
flask_sqlalchemy
sqlalchemy
psycopg[binary]


gunicorn
python-dotenv

supabase

torch
torchvision
torchaudio
sentence-transformers
transformers
accelerate
openai-whisper
openai
numpy
scipy
tokenizers

Pillow
opencv-python
pydub
soundfile
ffmpeg-python

pdfkit
PyPDF2

requests
tqdm

jinja2
itsdangerous
werkzeug


gunicorn
python-dotenv

supabase

torch
torchvision
torchaudio
sentence-transformers
transformers
accelerate
openai-whisper
openai
numpy
scipy
tokenizers

Pillow
opencv-python
pydub
soundfile
ffmpeg-python

pdfkit
PyPDF2

requests
tqdm

jinja2
itsdangerous
werkzeug

